#converters {
    padding-top: 20px;
}

#convertLabel {
    padding-left: 22px;
}

#temp {
    border: solid;
    border-width: 1px;
    margin-right: 10px;
    width: 250px;
    padding: 10px;
}

#tempInput {
    width: 100px;
    margin-right: 20px;
}

#measure {
    margin-top: 20px;
    border: solid;
    border-width: 1px;
    margin-right: 10px;
    width: 250px;
    padding: 10px;
}

#measureInput {
    width: 70px;
}

#convertFrom {
    display: flex;
}

select {
    margin-left: auto !important;
    height: 30px;
}

#convertTo {
    display: flex;
    margin-top: 10px;
    margin-left: 50px;
}

#to {
    margin-left: 110px;
}

#result {
    margin-top: 10px;
}

#measureResult {
    padding-left: 8px;
}

.btn{
    margin-right: 25px;
}