#createRecipe {
    width: 70%;
    margin-left: 10px;
}
  
body {
    padding-top: 0;
    font-family: Helvetica Neue, Helvetica;
    background: #f7f7f7;
}
  
#newLabel {
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #808080;
}
  
#recipeForm {
    padding: 0 40px;
}
  
.forminput5 {
    display: block;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-left: auto;
    border-radius: 5px;
    border: 1px solid #ddd;
}
  
form input.error {
    border-color: red;
}
  
#removeIng {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    background-color: #84c00c;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;
}
  
button:hover#removeIng {
    background-color: #669509;
}
  
button:disabled#removeIng {
    background-color: #dbf99f;
    color: #333;
}
  
button.small#removeIng {
    display: inline-block;
    width: 30px;
    background-color: #777;
    font-size: 14px;
    height: 30px;
    margin: 0;
    margin-left: 20px;
}
  
button.small:hover#removeIng {
    background-color: #999;
}
  
.input-element{
    height: 100px !important;
    width: 400px;
}

#recipeDiv {
    margin-top: auto;
    margin-bottom: auto;
}

#veganBox, #vegBox {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

#image {
    display: block;
}

#inputDiv {
    display: flex;
}

.ingredient {
    margin-bottom: 10px;
}

#addIngButton {
    margin-bottom: 20px;
}

#submitButton {
    margin-left: 0;
}

#image.button {
    margin-top: 0;
}

#backButton {
    margin-left: auto;
    font-size: 14px !important;
    height: 34px !important;
    top: 5px !important;
}