#createRecipe *{
    box-sizing: border-box;
}
  
body {
    padding-top: 0;
    font-family: Helvetica Neue, Helvetica;
    background: #f7f7f7;
}
  
#newLabel {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 5px;
}
  
#recipeForm {
    padding: 0 40px;
}
  
.forminput5 {
    display: inline block;
    /*width: 50%;*/
    font-size: 18px;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
  
form input.error {
    border-color: red;
}
  
#removeIng {
    display: block;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    background-color: #84c00c;
    color: #fff;
    border: none;
    font-size: 16px;
    height: 40px;
    margin-top: 30px;
}
  
button:hover#removeIng {
    background-color: #669509;
}
  
button:disabled#removeIng {
    background-color: #dbf99f;
    color: #333;
}
  
button.small#removeIng {
    display: inline-block;
    width: auto;
    padding: 0 20px;
    background-color: #777;
    font-size: 14px;
}
  
button.small:hover#removeIng {
    background-color: #999;
}
  
  .input-element{
    height: 100px !important;
    width: 400px;
}
  