#Ingredientlayout {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
}

#input {
    padding-top: 10px;
    display: "block";
}

#list {
    padding-top: 10px;
    margin-left: auto;
}

#template {
    list-style-type: none;
    padding-left: 0px;
}