.modal {
    font-size: 12px;
}

.modal-body * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#user {
    display: flex;
    height: stretch;
    padding-top: 3px;
}

#login .button {
    font-size: 14px;
    height: 80%;
    top: 2px;
}

#forgotPass.button {
    font-size: 12px;
}

#newUserB.button {
    font-size: 12px;
}

#newUserB {
    margin-left: 19px;
    margin-top: 0;
}

#userInput, #passInput {
    width: 100%;
    margin-top: 5px;
}

#passInput {
    margin-bottom: 5px;
}

div.popup-content {
    width: 215px !important;
}