.modal {
    font-size: 12px;
}

.modal-body * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#user {
    display: flex;
    height: stretch;
    padding-top: 3px;
}

#login .button {
    font-size: 14px;
    height: 80%;
    top: 2px;
}