#layout {
    position: absolute;
    width: 100%;
    margin-bottom: 50px;
}

#pageStyle {
    display: flex;
    margin-left: 10px;
}

#interactions {
    display: flex;
}

#interactions * {
    margin-top: auto;
    margin-bottom: auto;
}

#favorite {
    background-color: transparent;
    border: 0;
    outline: none;
    margin-right: 8px;
}

button#favorite {
    width: 32px;
}

#favLabel, #rateLabel {
    margin-right: 0 !important;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    padding-right: 40px;
}

#totalFav {
    padding-right: 20px;
}

#rightSideBar {
    margin-left: auto;
    padding-left: 50px;
    padding-right: 10px;
}

#tosubs {
    margin-top: 20px !important;
}

#tosubs, #fork {
    font-size: 13px;
    margin: 0;
    margin-top: 10px;
}

#commentHeader {
    padding-bottom: 5px;
    border-bottom: 2px solid #808080;
}

#commentForm {
    margin-bottom: 10px;
}

#comment {
    display: flex;
    max-width: 100%;
}

#likeButton {
    margin-left: auto;
}

#like {
    background-color: transparent;
    border: 0;
    outline: none;
}

#replyList {
    margin-left: 50px;
}