#filters {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#multiSelect {
    padding-left: 25px;
}

div.css-15brt4p {
    display: none;
}

div.css-11unzgr {
    padding: 3px;
    border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

#sortBy {
    padding-left: 25px;
    padding-right: 25px;
}

#selectSort {
    height: 42px;
}

button.css-1r4vtzz {
    height: 42px;
}

button#mealType {
    height: 42px;
}

#submitButton {
    font-size: 13px;
    margin: 0;
}

#submit {
    margin-top: auto;
    margin-bottom: auto;
    height: 42;
    margin-left: 25px;
}