#top-border {
  display: flex;
  width: stretch;
  height: 63px;
  max-width: 100%;
  background-color: powderblue;
}

#login {
  margin-left: auto;
}

#logo {
  width: 60px;
  height: 60px;
}

#title {
  position: relative;
  top: 10px;
  font-size: 2rem;
}

#info-panel {
  position: absolute;
  width: stretch;
  height: 590px;
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  align-items: stretch;
  align-items: flex-start;
}

h2 {
  color: darkslategray;
}

#ingredients-panel {
  width: 350px;
}

#filter {
  display: flex;
}

#filter * {
  padding-left: 10px;
}

#recipe-panel {
  padding-left: 50px;
}

#recipe-search {
  display: flex;
}

#numRecipes {
  width: 200px;
  margin-left: auto;
  margin-right: 15px;
}

#recipe-list {
  padding-top: 20px;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0px 10px;
  display: inline-block;
  margin: 10px 15px;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  border: 3px solid #cfcece;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover,
.button.hover {
  border-color: #2980b9;
}

.list-group-item {
  padding: .75rem .75rem !important;
}