#top-border {
  display: flex;
  height: 63px;
  background-color: powderblue;
}

#login {
  position: absolute;
  left: 92%;
}

#logo {
  width: 60px;
  height: 60px;
}

#title {
  position: relative;
  top: 10px;
  font-size: 2rem;
}

#info-panel {
  position: absolute;
  display: flex;
  padding-top: 20px;
}

h3{
  color: darkslategray
}

#ingredients-panel * {
  padding-right: 18px;
}

#ingredients-panel {
  padding-right: 300px;
}

#recipe-panel * {
  position: absolute;
  padding-top: 10px;
  left: 50%;
}

#recipe-search *{
  position: absolute;
}

#recipe-panel {
  display: flex;
}

#recipe-list {
  padding-top: 100px;
}

#num-of-recipes{
  left: 80%;
  height: auto;
  width: auto;

}
#newIng{
  padding-top: 40%; 
}
.button {
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  cursor: pointer;
  padding: 0px 10px;
  display: inline-block;
  margin: 10px 15px;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 16px;
  border: 3px solid #cfcece;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover,
.button.hover {
  border-color: #2980b9;
}
